*.class
.vscode/settings.json
/.vscode
.bashrc
.env
backend/src/test/resources/application.properties
backend/src/test/resources/application.properties
backend/target/test-classes/application.properties
backend/NutritionResponse.txt
/backend/target/maven-status/maven-compiler-plugin/compile/default-compile
/backend/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile
backend/target/test-classes/com/test/fullstack_backend/FullstackBackendApplicationTests.class
backend/GreenGrubSSH.pem
